<div class="HistoriaAcademicaContainer">
    <div class="academicaContainerFlex">
        <div class="carrera">
            <h2><b>{{historiaAcademica.carrera.toUpperCase()}}</b></h2>
            <p><i>{{historiaAcademica.universidad}}</i></p>
            <p><i>{{historiaAcademica.estado}}</i></p>
            <p><i>{{historiaAcademica.fechaIni|date}}-{{historiaAcademica.fechaFin|date}}</i></p>
        </div>
        <div class="Descripcion">
            <h2><b>Descripción del programa</b></h2>
            <ul>
                <li *ngFor="let desc of historiaAcademica.descripcionPrograma">{{desc}}</li>
            </ul>
        </div>
    </div>
</div>
