<main class="main">

    <div class="InfoPersonal">
        <img src="./assets/images/Imagen Personal.png" alt="Santiago Vásquez Gómez">
        <div class="Referenciacontainer">
            <app-datos-contacto></app-datos-contacto>
        </div>
    </div>
    <div class="historiaContainer">
        <app-info-personal></app-info-personal>
        <H1>Historia laboral</H1>
        <app-historia-laboral *ngFor="let historia of santiago.historiasLaborales" [historiaLaboral]="historia"></app-historia-laboral>
    </div>

</main>
