<div class="InfoPersonalContainer">
    <div class="container">
        <div class="ResumenAptitudesFlex">
            <div class="ResumenPersonal">
                <h2><b>Resumen personal</b></h2>
                <p>{{santiago.resumenPersonal}}</p>
            </div>
            <div class="Aptitudes">
                <h2><b>Aptitudes</b></h2>
                <ul>
                    <li *ngFor="let aptitud of santiago.aptitudes">{{aptitud}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>
